.card {
  width: 300px;
  background: #f5f5f5;
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.imgBox {
  padding: 30px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.imgBox img {
  width: 250px;
  height: 180px;
  object-fit: contain;

  transition: 0.3s;
}

.imgBox:hover img {
  transform: scale(1.05);
}

.content {
  padding: 20px;
}

.content h3 {
  font-size: 18px;
  letter-spacing: 2px;
  color: #444;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}
.price_raiting{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p {
  font-size: 14px;
  color: #888;
  margin-bottom: 16px;
}

.price {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2ec4b6;
  margin-bottom: 10px;
}

.stars {
  color: #f4b400;
  font-size: 18px;
  margin-bottom: 20px;
}

.cart {
  width: 100%;
  border: none;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s ease;
}

.card:hover .cart {
  opacity: 1;
  transform: translateY(0);
}

.cart {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.cart:active {
  transform: scale(0.96);
}

.cart:before,
.cart:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.cart:hover:before {
  top: -70%;
  background-image:
    radial-gradient(circle, #2ec4b6 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2ec4b6 20%, transparent 30%),
    radial-gradient(circle, #2ec4b6 20%, transparent 20%),
    radial-gradient(circle, #2ec4b6 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2ec4b6 15%, transparent 20%),
    radial-gradient(circle, #2ec4b6 20%, transparent 20%),
    radial-gradient(circle, #2ec4b6 20%, transparent 20%),
    radial-gradient(circle, #2ec4b6 20%, transparent 20%),
    radial-gradient(circle, #2ec4b6 20%, transparent 20%);
  background-size:
    10% 10%,
    20% 20%,
    15% 15%,
    20% 20%,
    18% 18%,
    10% 10%,
    15% 15%,
    10% 10%,
    18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }

  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }

  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image:
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size:
    15% 15%,
    20% 20%,
    18% 18%,
    20% 20%,
    15% 15%,
    20% 20%,
    18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }

  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }

  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}
