.overlayy {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;

}
.overlayy.active {
}
.popup {
  width: 800px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  padding: 20px;
  position: relative;
}

.popup_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff3b3b;
  color: #fff;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 6px;
}

.popup_left {
  width: 50%;
}

.popup_image {
  width: 100%;
  border-radius: 10px;
}

.popup_right {
  width: 50%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup_heading {
  font-size: 20px;
  font-weight: 600;
}

.popup_row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color_list {
  display: flex;
  gap: 10px;
}

.color_item {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.green {
  background: green;
}
.red {
  background: red;
}
.black {
  background: black;
}

.size_list button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
}

.count_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count_box button {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
}

.popup_price {
  font-weight: 600;
  font-size: 16px;
}

.popup_btn {
  background: #e74c3c;
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.popup_btn:hover {
  background: #c0392b;
}
